<div class="m-5">
  <h1>Answer</h1>
    <p class="border-start border-5 p-3 col-7"><%=params[:question]%></p>
    <p class="border-start p-3 fw-bold border-5 bg-warning col-5" style="--bs-bg-opacity: .2;"><%=@answer%></p>
    <a href=# class="text-decoration-none"><%= link_to "Ask more", ask_path %></a>
</div>
